*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-size: large;
    align-items: center;
    background-color: #968e8e;
    transition: all 0.2s;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0px;
    transition: all 0.2s;
}

.exibir{
    left: -230px !important;
    transition: all 0.2s;
}

.calculadora{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c2bbbb;
    border: 3px solid #5f5c5c;
    width: 230px;
    padding: 5px;
    border-radius: 4px;
}
    
.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_display{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    flex-wrap: wrap;
}

.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #685f5f;
    border: 3px solid black;
    border-radius: 7px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 1px;
}

.teclaOp{
    background-color: blue!important;
    color: white !important;
}

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    background-color: #968e8e;
    border-radius: 6px;
    margin: 3px;
}

.display{
    width: 210px;
    text-align: right;
    padding: 5px;

}

.abreFecha{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 50px;
    background-color: #685f5f;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#indicador{
    background-color: #685f5f;
    
}
